<script>
  function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = cookies[i].trim();
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
          }
      }
      return cookieValue;
  }
</script>

{% load static %}

<!DOCTYPE html>
<link rel = "stylesheet" href = "{% static 'css/style.css' %}">
<html>
  
<head>
  <title> Weather & Gather </title>
</head>
<section id = "window">
  <header>
      <h1> Weather & Gather</h1>
      <div><hr></div>
  </header>

  <body>
    <div class="hero-container">
      <h1 class="text-light"><span>weather & Gather</span></h1>
      <h1 class="text-light"><span>로그아웃 실패하였습니다.</span></h1>
      <box><a href = "/home/index">Home으로 돌아가기></a></box>
    </div>
      
  </body>
</section>
</html>