<script>
  function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = cookies[i].trim();
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
          }
      }
      return cookieValue;
  }
</script>

{% load static %}

<!DOCTYPE html>
<link rel = "stylesheet" href = "{% static 'css/style.css' %}">
<html>
  
<head>
  <title> Weather & Gather </title>
</head>
<section id = "window">
  <header>
      <h1> Weather & Gather</h1>
      <div><hr></div>
  </header>

  <body>
    <h2 class="text-light"><span>오늘의 날씨 정보와 간단한 옷차림 요약을 나에게 카톡으로 보내보세요</span></h2>
    <button>
        <box><a href="/home/kakaomessage_climate">깨똑 보내기</a></box>
    </button>
    <br>
    <br>
    <h3 class = "text-light"><span>카카오톡 로그아웃을 원합니다.</span></h3>
    <form action="/home/kakaoLogout" method="GET">
        {% comment %} <button type = "카카오 로그아웃">
            <img src = '/static/img/kakaologo.jpg' width = 50, height = 50 />
        </button> {% endcomment %}
        <button>
          <box><a href="/home/kakaoLogout">로그아웃</a></box>
        </button>
      <br>
      <br>
      <h2 class = "text-light"><span>Home 화면으로 돌아가기</span></h2>
      <button class = "text-black">
          <box><a href="/home/index">HOME</a></box>
      </button>
    </form>
  </body>
</section>
</html>