<script>
  function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = cookies[i].trim();
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
          }
      }
      return cookieValue;
  }
</script>

{% load static %}

<!DOCTYPE html>
<link rel = "stylesheet" href = "{% static 'css/style.css' %}">
<html>
  
<head>
  <title> Weather & Gather </title>
</head>
<section id = "window">
  <header>
      <h1> Weather & Gather</h1>
      <div><hr></div>
  </header>

  <body>
    <div class="hero-container">
      <h1 class="text-light"><span>weather & Gather</span></h1>
      <h2 class="text-light"><span>깨똑 전송 완료</span></h1>
      <h2 class="text-light"><span>깨똑에 오늘의 날씨와 옷차림이 전송되었습니다.</span></h2>
      <button>
          <box><a href="/home/index">Home 화면으로 돌아가기></a></box>
      </button>
      <br>
      <br>
      <h2 class="text-light"><span>카카오톡 로그아웃을 원합니다.</span></h2>
      <form action="/home/kakaoLogout" method="GET">
          <button type = "카카오 로그아웃">
              <img src = '/static/img/kakaologo.jpg' width = 50, height = 50 />
          </button>
      </form>
  
      </div>
      
  </body>
</section>
</html>